
<h1>Gracias por preferirnos Turismo Real S.A</h1>
<h1>Estado De Reserva:{{data.1}}</h1>

<h6>Importante: Para poder hospedarse debe tener la boleta en estado "Pagado".</h6> 
<hr>

<h2>Detalles de su reserva</h2>

<div>
Nombre Cliente: {{data2.1}} {{data2.2}}
<br>
Correo Cliente: {{data2.3}}
<br>
Numero de Reserva : {{reserva}}
<br>
Fecha de Ingreso de Solicitud: {{data.2}}
<br>
Fecha de Ingreso al Departamento: {{data.3}}
<br>
Noches de Estadia Reservadas: {{data.11}}
<hr>
<h2>Detalles Departamento</h2>

Departamento ID Reservado: {{data3.0}}
<br>
Direccion: {{data3.1}} Comuna de {{data3.2}} Region De {{data3.3}}
<br>
Piso: {{data3.4}} 
<br>
Departamento Numero: {{data3.5}} 
<br>
Numero Habitaciones: {{data3.7}} 
<hr>
<h2>Detalles Monetarios</h2>

identidicaion de pago: {{data4.0}}
<br>
Total Para Reservar: {{data4.1*0.3}}
<br>
Total A pagar de Recepcion: {{data4.1*0.7}}
<br>
Fecha de Pago: {{data4.2}}
<br>
<h2>TOTAL A PAGAR: {{data4.1}}</h2>










<br><br><br><br><br><br><br><br><br>
<hr>
<footer><h1>Gracias por preferirnos Turismo Real S.A</h1></footer>
<style>
h1 {
  color: #ff6363;
  font-weight: bold;
  text-align: center;
}
h2 {
 text-decoration: underline;
  font-weight: arial;
  text-align: center;
}
footer {
  font-weight: arial;
  text-align: center;
}
h6 {

  text-align: center;
}
</style>

