
Gracias por preferirnos Turismo Real S.A
Estado De Reserva:{{data.1}}

Importante: Para poder hospedarse debe tener la boleta en estado "Pagado".

Detalles de su reserva


Nombre Cliente: {{data2.1}} {{data2.2}}
Correo Cliente: {{data2.3}}
Numero de Reserva : {{reserva}}
Fecha de Ingreso de Solicitud: {{data.2}}
Fecha de Ingreso al Departamento: {{data.3}}
Noches de Estadia Reservadas: {{data.11}}


Detalles Departamento
Departamento ID Reservado: {{data3.0}}
Direccion: {{data3.1}} Comuna de {{data3.2}} Region De {{data3.3}}
Piso: {{data3.4}} 
Departamento Numero: {{data3.5}} 
Numero Habitaciones: {{data3.7}} 


Detalles Monetarios

identidicaion de pago: {{data4.0}}
Total Para Reservar: {{data4.1*0.3}}
Total A pagar de Recepcion: {{data4.1*0.7}}
Fecha de Pago: {{data4.2}}
TOTAL A PAGAR: {{data4.1}}


