{% extends "usuario/layout.html" %}



{% block content%}
<h2>SERVICIOS</h2>




<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://www.theagilityeffect.com/app/uploads/2019/03/00_VINCI-ICONOGRAPHIE-GettyImages-890132412_1280x680.jpg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>VIÑA DEL MAR</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="https://www.theagilityeffect.com/app/uploads/2019/03/00_VINCI-ICONOGRAPHIE-GettyImages-890132412_1280x680.jpg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PUCÓN</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://www.theagilityeffect.com/app/uploads/2019/03/00_VINCI-ICONOGRAPHIE-GettyImages-890132412_1280x680.jpg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>LA SERENA</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br><br>
<h1>Explora uno de nuestros hoteles.</h1>
<div class="tabbed-box-content tab-0" style="display: block;">
  <div style="width: auto"><div></div><div class="paragraph" style="text-align:center;">Para tener una mejor navegación, presiona las flechas guías &nbsp;←↕→ del navegador.</div>

<div><div id="299928385431089060" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1499896596443!6m8!1m7!1sF%3A-gjqZjGioaE8%2FWUGnUtcEJJI%2FAAAAAAAAA2k%2FG5VhzkS8iBYfdpa2wyd30VXA5Fi_8XepwCLIBGAYYCw!2m2!1d-33.44365187860156!2d-70.64831313988111!3f177.11636975606456!4f-5.807687464204918!5f1.0605439775114949" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>



<div class="container px-4 py-5" id="hanging-icons">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#toggles2"></use>
        </svg>
      </div>
      <div>
        <h2>RESERVA</h2>
        <p>Reserva ahora y haz y disfruta de los servicios que te esperan a ti y a tu familia.</p>
        <a href="/register" class="btn btn-primary">
          Registrate
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#cpu-fill"></use>
        </svg>
      </div>
      <div>
        <h2>ATENCION</h2>
        <p>Tenemos el mejor asesoramiento de acuerdo a ubicaciones, guias turisticas y los mejores choferes de la zona.
        </p>
        <a href="/acerca" class="btn btn-primary">
          Acerca De
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#tools"></use>
        </svg>
      </div>
      <div>
        <h2>SERVICIO</h2>
        <p>Contamos con uno de los servicios mas rentables, pudiendo pagar hasta en 3 cuotas sin interes.</p>
        <a href="https://viajesfalabella.cl" class="btn btn-primary">
          Mas Servicios
        </a>
      </div>
    </div>
  </div>
</div>



</div></div>
</div>
{% endblock %}